@charset "EUC-KR";
 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
      }

      /* navbar & maincontainer */
      .adminContainer {
        height: 100vh;
        background-color: black;
      }

      .adminNavbar {
        margin: 0;
        background-color: #212e41;
        color: #fff;
        height: 8%;
      }

      .adminNavbar-left {
        font-size: 26px;
      }

      .adminNavbar-left span {
        cursor: pointer;
      }

      .adminMain {
        background-color: blue;
      }

      .adminContent {
        margin: 0;
        height: 92%;
      }

      .adminSidebarContainer {
        background-color: #212e41;
        color: #fff;
      }

      ul {
        list-style: none;
      }

      .adminIcon {
        margin-right: 30px;
      }

      .adminIconSpan {
        margin-right: 12px;
      }

      .adminIconLogout {
        margin-left: 26px;
        cursor: pointer;
      }

      /* sidebar navlink */

      .adminSidebar {
        height: 92%;
        background: #fff;
        transition: all 0.5s ease;
      }

      .adminSidebar .nav-links li a {
        display: flex;
        align-items: center;
        text-decoration: none;
      }

      .adminSidebarContainer {
        padding: 0;
      }

      .adminMainContainer {
        padding: 0;
      }

      .nav-linksContainer {
        margin-top: 25px;
        transition: 0.5s ease;
      }

      .nav-linksContainer:hover {
        background-color: #1d1b31;
      }

      .nav-links {
        font-size: 16px;
        padding-left: 0;
      }

      .icon-link {
        color: #fff;
      }

      .icon-link .icon-link-left {
        color: #fff;
      }

      .icon-link .icon-link-left i {
        left: 0;
        color: #fff;
      }

      .icon-link .icon-link-left span {
        color: #fff;
      }

      .sub-menu {
        margin-left: 15%;
        list-style: none;
        display: none;
        text-decoration-line: none;
      }

      .sub-menu li {
        margin: 10px 0px;
      }

      .sub-menu li a {
        font-size: 14px;
        color: #fff;
        text-decoration-line: none;
      }

      .sub-menu li:hover {
        border-left: 3px solid #fff;
      }

      .firstTable {
        background-color: #fff;
        margin-bottom: 0;
      }

      /* 메인 페이지  */
      .firstTableTitle {
        font-size: 24px;
      }

      .firstTable {
        border: 0;
      }

      .MemberText,
      .searchMemberText {
        font-size: 18px;
        margin-left: 9px;
        margin-bottom: 0;
        border: 40px;
      }

      .searchMemberInput {
        margin-left: auto;
      }

      .reviewContainer {
        height: 450px;
        overflow: auto;
      }

      tbody tr {
        transition: 0.7s ease;
      }

      /* table hover시 color 변경 */
      #tableBox:hover tbody tr:hover td {
        background-color: #7f7f7f;
        color: #fff;
      }

      /* 이모티콘 cursor pointer */
      td span,
      .reviewDetailModalExitIcon {
        cursor: pointer;
      }

      /* 리뷰 딜리트 모달 */
      .reviewDeleteModal {
        position: fixed;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        height: 140px;
        width: 320px;
        display: none;
        border: 1px solid black;
        background-color: #e8ecef;
      }

      /* 리뷰 내용 */
      .form-group textarea {
        overflow-y: scroll;
      }

      /* 리뷰 내용 스크롤 없애기 */
      .form-group textarea {
        -ms-overflow-style: none;
      }
      .form-group textarea::-webkit-scrollbar {
        display: none;
      }
      .reviewDetailModal {
        position: fixed;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        width: 460px;
        height: 280px;
        background-color: #fff;
        border: 2px solid black;
        display: none;
      }

      .reviewDetailModalContainer {
        height: 200px;
      }

      .reviewDetailModalTitle {
        width: 100%;
      }

      .selectAll:hover {
        cursor: pointer;
      }